:root {
  /* Colors */
  --t-c-primary: var(--c-primary-600);

  /* Components */
  --t-site__bg-color: hsl(240, 5%, 10%);
  --t-site__fg-color: hsl(240, 50%, 95%);
  --t-site__text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

  --t-header__bg-color: transparent;
  --t-header__border-color: hsl(240, 5%, 95%, 0.1);

  --t-headline__bg-image: linear-gradient(var(--c-primary-300) 50%, var(--c-primary-800) 100%);
}
